{% if filtering.isTicket() or filtering.isUser() %}
    <form class="sp-report-filtering sp-condition-group sp-my-6">

        <div class="sp-collapsible sp-condition-group-header sp-cursor-pointer">
            {{ Lang.get('report.filtering') }}
            <span class="sp-ml-auto">
                <i class="fas fa-chevron-up"></i>
            </span>
        </div>

        <div class="filter-conditions sp-hidden">
            <div class="sp-condition-group-inner">
                <table class="sp-hidden">
                    {# Brand new group with one condition #}
                    {% include 'operator.' ~ template ~ '.forms.condition' with {'hide': true} %}
                </table>

                <div class="sp-px-3 sp-pt-3">
                    {{ form_button(Lang.get('general.add_item', {'item': Lang.get('ticket.condition')}), {'class': 'add-condition'}) }}
                    &nbsp;&nbsp;
                    {{ form_button(Lang.get('general.update'), {'class': 'sp-update-report'}) }}
                </div>
            </div>
        </div>

    </form>
{% endif %}