<div class="sp-flex sp-h-full sp-items-center sp-justify-center chart-card sp-px-2">
    <div class="sp-text-4xl sp-font-bold">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
    <canvas style="display: none"></canvas>
</div>
