<div class="sp-flex sp-h-full sp-items-center sp-justify-center">
    <div class="sp-text-4xl sp-font-bold loading">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div class="html-card sp-w-full" style="display: none"></div>
</div>
