<div class="sp-flex sp-h-full sp-items-center sp-justify-center number-card">
    <div class="sp-text-4xl sp-font-bold">
        <i class="fas fa-spinner fa-spin"></i>
        <div class="number-value" style="display: none"></div>
    </div>
</div>
