{% extends parent_template %}

{% block title %}
    {{ Lang.get('core.search_results') }} - '{{ Request.input('query') }}'
{% endblock %}

{% block content %}

    {% include 'operator.' ~ template ~ '.core.search_tabs' %}

    <div class="sp-alert sp-alert-with-icon sp-alert-error">
        <i class="sp-alert-icon fas fa-ban"></i>

        <div class="sp-alert-content">
            <strong>{{ Lang.get('messages.not_authorised') }}</strong><br />
            {{ Lang.get('messages.not_permitted') }}
        </div>
    </div>

{% endblock %}
