{% include 'operator.' ~ template ~ '.forms.condition_group' with {'hide': true} %}

{% if currentFilter|default is not empty %}
    {% for groupId, group in currentFilter.conditiongroups %}
        {% include 'operator.' ~ template ~ '.forms.condition_group' %}
    {% endfor %}
{% endif %}

<div class="plan-conditiongroup-type sp-my-3">
    {{ form_select('condition_group_type', {0: Lang.get('ticket.all_groups'), 1: Lang.get('ticket.any_group')}, currentFilter.condition_group_type) }}
</div>

<div>
    {{ form_button(Lang.get('general.update'), {'class': 'update-filtering'}) }} &nbsp;
    {{ form_button(Lang.get('general.add_item', {'item': Lang.get('ticket.condition_group')}), {'class': 'add-conditiongroup'}) }}
</div>
